#app-title h1 {
  color: white;
  text-decoration: none;
}


pre, code {
  padding: 10px;
  background-color: lightslategray;
}

blockquote {
  border-left: thick solid gray;
  padding-left: 10px;
}

table,
tr,
thead,
td,
th {
  border: 1px solid black;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  text-decoration: underline;
}

.title {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

#container {
margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.area {
  border: 5px solid black;
  padding: 30px;
  border-radius: 10px;
  margin: 5px;
  min-height: 200px;
  min-width: 200px;
  width: 718px;
  overflow: scroll;
}

#editor {
  height: 700px;
  min-height: 30%;
}

#preview {
  height: 700px;
  min-height: 200px;
  overflow: scroll;
}
